* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  padding: 40px;
}

ul {
  list-style: none;
  display: flex;
}

.content {
  display: none;
  padding: 8px;
  background-color: azure;
  min-height: 80px;
}

.content.is-active {
  display: block;
}

.list {
  margin-right:8px;
  padding: 4px 8px;
  background-color: lightblue;
}

.list:last-child {
  margin-right: 0;
}

.list.is-active {
  background-color: azure;
  border-top: 1px solid aqua;
}