* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px;
}

.todoLists {
  margin-top: 20px;
  list-style: none;
}

.todoLists li input {
  margin-right: 8px;
}

.todoLists li p {
  display: inline;
  margin-left: 8px;
  color: rgb(rgb(56, 56, 56));
  font-size: 0.8rem;
}

.resetButton {
  margin-top: 40px;
}

.finished {
  opacity: 0.5;
}