* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px;
}

.todoListBox {
  margin-top: 20px;
  list-style: none;
}

.checkbox {
  margin-right: 8px;
}

.todoList span {
  margin-left: 8px;
  color: rgb(rgb(56, 56, 56));
  font-size: 0.8rem;
}

.resetButton {
  margin-top: 40px;
}

.finished {
  opacity: 0.5;
}

.finished.hide {
  display: none;
}

.overdue {
  color: red;
}

.deleteButton {
  margin-left: 8px;
}